* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;                /* darkgreen #10282D  light green #2E9F89  white #FBFAF2*/
    border: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

body {
    background-color: #10282D; /* #fafaf6 */
    color: black;
    scroll-behavior: smooth;
}

.text-right{}

.proj-row{
  padding-bottom: 20px;
}

.link{
  color: orange;
}

.person{
  width: 600px;
  height: 600px;
}

header {
    height: 100vh;
    margin-bottom: 10px;
    /* background: url("../img/splashscreen.jpg") no-repeat center center; */
    background-size: cover;
    display: fixed;
    flex-direction: column;
} 

.header-container{
  color: #FBFAF2;
  z-index: 3;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 5%;
  /* padding-bottom: 3%; */
}


.header-marker{
  text-align: center;
  justify-content: center;
  color: #FBFAF2;
}

.typing-text{
  color: #FBFAF2;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.typewriter h1{
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: typing 1.3s steps(10, end), blink-caret .75s steps(50, end) infinite;
}

.typewriter{
  display: inline-flex;
}

/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

hr {
	height: 10px;
}

.school_proj{
  padding-left: 50px;
}

.arrow{
  text-align: center;
  font-size: .5em;
  padding-top: 10px;
}

.arrow a{
  color: #FBFAF2;
}

.bio{
  /* font-size: 15px; */
  text-align: left;
}

.bio-section{
  height: 70vh;
  width: 100vw;
  word-wrap: break-word;
  padding-left: 20px;
  padding-right: 20px;
  color: #FBFAF2;
}

.bio-story{
  font-size: 1.3rem;
  text-align: left;
}

.headshot-area{
  display: flex;
  margin-top: 30px;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}

.headshot-pic{
  width: 300px;
  height: 300px;
  border-radius: 50%;

}

.skills_section{
  background-color: #2E9F89;
  border-radius: 10px;
  margin: 10px;
}

.skills_section_header{
  margin-top: 0 !important;
}

.skills_icon{
  width: 75px;
  height: 75px;
}

.logo {
	height: 150px;
	width: 150px;
}

.webninja {
    width: 100%;
    max-height: 800px;
}

.feat_thumbnail {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    /*object-fit: scale-down;*/
    border-radius: 5px;
}

.featuredprojects{
  /* background-image: url("../img/coding.jpg"); */
  height: 100vh;
  width: 100vw;
  background-color: #10282D;
  color: #FBFAF2;
}


.contact{
  text-align: center;
  padding-top: 300px;
  height: 100vh;
  width: 100vw;
  font-size: 7em;
  /* background-color: #40E0D0; */
  background-color: #10282D; /* #fafaf6 */

  overflow: hidden;
}

.contact-modal{
  background-color: #2E9F89;
  color: #FBFAF2;
}

.contact-button {
  color: #FBFAF2;
  font-family: Monoton;
  /* -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; */
}

.modal-content{
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px !important;
}


footer {
    /* margin-right: 10px;
    margin-left: 10px; */
    bottom: 0;
    text-align: center;
    background-color: #10282D;
    color: #FBFAF2;
    height: 50px;
}

footer a{
  color: #2E9F89;
}

.hr-line{
  margin: 0;
}

.bio-contact{
  height: 100vh;
  margin-bottom: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
}



/*     Card Flip Styling    */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 250px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 25px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 25px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

.card_preview{
  width: 350px;
  height: 250px;
  border-radius: 25px;
}

/* Style the back side */
.flip-card-back {
  background-color: #2E9F89;
  color: white;
  transform: rotateY(180deg);
}

.unstyled-button{
  background: none transparent;
  border: none;
}

/*Neon*/


.icon{
  padding-right: 30px;
  padding-bottom: 30px;
}


.effeckt-modal-wrap {
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
position: fixed;
top: 50%;
left: 50%;
width: 50%;
min-width: 320px;
max-width: 630px;
z-index: 2000;
display: none;
}
.effeckt-modal {
visibility: hidden;
-webkit-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
background: white;
}


.effeckt-overlay.effeckt-show {
opacity: 1;
visibility: visible;
}
.effeckt-overlay {
position: fixed;
width: 100%;
height: 100%;
visibility: hidden;
top: 0;
left: 0;
opacity: 0;
-webkit-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;
z-index: 1000;
background: rgba(0, 0, 0, 0.5);
}
.effeckt-modal h3 {
padding: 1rem;
color: white;
background: #444;
}
.effeckt-modal-content {
padding: 1rem;
}
/* Effect 8: 3D flip horizontal */
.md-effect-8 {
-webkit-perspective: 1300px;
-ms-perspective: 1300px;
-o-perspective: 1300px;
perspective: 1300px;
-webkit-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.md-effect-8 .effeckt-modal {
-webkit-transform: rotateY(-70deg);
-ms-transform: rotateY(-70deg);
-o-transform: rotateY(-70deg);
transform: rotateX(-70deg);
-webkit-transition: all 500ms;
-o-transition: all 500ms;
transition: all 500ms;
opacity: 0;
}
.effeckt-show.md-effect-8 .effeckt-modal {
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
transform: rotateY(0deg);
opacity: 1;
}

/* Old code to implement background video header */

.videosplash{
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.video_overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* top: 0;
  left: 0; */
  /* background: #225470; */
  z-index: 2;
  /* opacity: .85; */
  /* margin: 0 !important; */
  overflow-x: hidden;
}

.video_text{
  top: 50%;
  left: 40%;
}

video{
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 10%;
  background: rgba(0, 0, 0, 0);
  transform: translate(-50%, -50%);
  /* min-width: 100%;
  min-height: 100%; */
  width: 100%;
  z-index: 1;

}





#feat_proj-mobile {display: none;}


@media screen and (max-width: 768px) {

  #feat_proj-desktop {display: none;}
  #feat_proj-mobile {display: block;}

}
